# SQL Data Manipulation

## Case Statements

`WHEN`, `THEN`, `ELSE`, `END`

#### CASE in SELECT 

```postgresql
SELECT
    CASE WHEN criteria THEN display_message
         WHEN criteria THEN display_message
         ELSE display_message
         END AS field_name
FROM db1;
```

#### CASE in WHERE

```postgresql
SELECT field
FROM db1
WHERE CASE WHEN criteria THEN display_message
      CASE WHEN criteria THEN display_message
      END IS NOT NULL;
```

#### CASE with aggregate functions

```postgresql
SELECT
    SUM(CASE WHEN criteria THEN value_field END) AS s,
    COUNT(CASE WHEN criteria THEN display_message END) AS c
    ROUND(AVG(CASE WHEN criteria THEN 1 
                   WHEN criteria THEN 0),2) as percentage_avg
FROM db1
GROUP BY field

```

## Subquery

Returns intermediary transformed information of a scalar, a list, or a table

#### Subquery in WHERE
```postgresql
SELECT field
FROM db1
WHERE field_1 IN
    (SELECT field_1
     FROM db2
     WHERE field_2 = 5);

```

#### Subquery in FROM
```postgresql
SELECT field
FROM (SELECT field
      FROM db1
      WHERE criteria)

```

#### Subquery in SELECT
**Has to be a single value**

```postgresql
SELECT field, 
        (SELECT field
         FROM db2
         WHERE criteria)
FROM db1;

```

## Common Table Expressions (CTEs)

Declare a table before main query and use it in `FROM` statement

1. CTEs are stored in the memory after execution, improving performance
2. CTEs provide better readability than subquery

```postgresql
-- CTEs:
WITH tb1 AS (
    SELECT field
    FROM db1
    WHERE criteria),
tb2 AS (
    SELECT field
    FROM db1
    WHERE criteria)
-- Main query starts below:
SELECT
FROM
WHERE

```

## Window Functions

#### OVER()
Used in `SELECTION` to simplify subquery by implying `FROM`,`WHERE`... statements of main query

Instead of writing:
```postgresql
SELECT field_1, 
       (SELECT AVG(field_1)
        FROM tb1
        WHERE criteria) AS average
FROM tb1
WHERE criteria
```

Can now write:
```postgresql
SELECT field_1, AVG(field_1) OVER() AS average
FROM tb1
WHERE criteria
```
#### RANK()

```postgresql
SELECT RANK() OVER(ORDER BY AVG(field_1 + field_2)DESC) AS field_rank
```

#### PARTITION BY()

```postgresql
SELECT AVG(field_1 + field_2) OVER(PARTITION BY field) AS field_avg
```

#### Sliding window

`ROWS BETWEEN [start] AND [finish]`

`[start]`, `[finish]` can be:

- PRECEDING
- FOLLOWING
- UNBOUNDED PRECEDING
- UNBOUNDED FOLLOWING
- CURRENT ROW

```postgresql
SELECT SUM(field) OVER(ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total;

SELECT SUM(field) OVER(ORDER BY date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS last_3;

```