# SQL Basics

## Structure

```sql
SELECT FUNC(field) AS alias
FROM db
WHERE criteria
GROUP BY field
ORDER BY field ASC
LIMIT 10;

```

## SELECT

```sql
-- Select multiple fields
SELECT field_1, filed_2
FROM db;

-- Use AS to rename a field
SELECT field AS alias
FROM db;

-- Use DISTINCT to find unique value in a field
SELECT DISTINCT field
FROM db;

-- Use COUNT() to find the number of record in a field
-- COUNT(*) includes missing values
-- COUNT(filed) includes only non-missing values
SELECT COUNT(field)
FROM db;

-- Use COUNT(DISTINCT ) to find the number of unique value in a field
SELECT COUNT(DISTINCT field)
FROM db;
```

## Filter

```sql
WHERE field > 3;

WHERE field < 3;

WHERE field = 3;

WHERE field <> 3;

-- Exact match
WHERE field = 'hello';

-- Starts with 'a'
WHERE field LIKE 'a%';

-- Ends with 'a'
WHERE field LIKE '%a';

-- Two chars ends with 'a'
WHERE field LIKE '_a';

-- Second char is 'a'
WHERE field LIKE '_a%';

-- Not starts with 'b'
WHERE field NOT LIKE 'b%'

-- Null
WHERE field IS NULL;

-- Non-null
WHERE field IS NOT NULL;
```

## Aggregate Functions

```sql
SELECT AVG(field);

SELECT SUM(field);

SELECT MIN(field);

SELECT MAX(field);

SELECT COUNT(field);

-- Round to 2 decimal place
SELECT ROUND(value, 2)

-- Round to whole number
SELECT ROUND(value, 0)

-- Combine string
SELECT STRING_AGG(field, separator);
```

## GROUP BY

```sql
-- If GROUP BY keyword is used, must use aggregate function on SELECT
SELECT AGGREGATE_FUNCTION(field)
FROM db
GROUP BY field;

```

## HAVING

Due to the order of execution, `GROUP BY` has a special filter keyword `HAVING` for grouped records

```sql
GROUP BY field
HAVING field > 5

```

## ORDER BY

```sql
ORDER BY field ASC;

ORDER BY field DESC;

ORDER BY field_1 ASC, filed_2 DESC;

```

## INNER JOIN

```postgresql
FROM db1
INNER JOIN db2
ON db1.field = db2.field;

-- Must use aliases consistently; if declared as d1, d2, cannot ON `db1.field = db2.field`
FROM db1 AS d1
INNER JOIN db2 AS d2
ON d1.field = d2.field;

-- Join using a shared field name
FROM db1
INNER JOIN db2
USING (field);

-- Join using multiple fields
FROM db1
INNER JOIN db2
ON db1.field_1 = db2.field_1 AND db1.field_2 = db2.field_2

-- Join with multiple dbs
FROM db1
INNER JOIN db2
ON db1.field = db2.field
INNER JOIN db3
ON db1.field = db3.field
```

## Other Joins

`LEFT JOIN`, `RIGHT JOIN`, `FULL JOIN` share similar syntax as `INNER JOIN` above

`CROSS JOIN`

## UNION & UNION ALL

Concatenate tables vertically if tables or selected fields are **of the same number of fields** AND **the fields are of same type**

`UNION` removes duplicate

The new db will use field names from the first db

```postgresql
SELECT *
FROM db1
UNION
SELECT *
FROM db2
ORDER BY field
```

## INTERSECT

```postgresql
SELECT *
FROM db1
INTERSECT
SELECT *
FROM db2;
```

## EXCEPT

```postgresql
SELECT *
FROM db1
EXCEPT
SELECT *
FROM db2;
```